{% extends 'base.twig' %}

{% block title %}Forum Madness - New Thread{% endblock %}

{% block content %}
    <h1>Create new thread</h1>
    <p>The form for new threads will go here eventually...</p>
{% endblock %}