{% extends 'base.twig' %}

{% block title %}Forum Madness - Thread {{ id }}{% endblock %}

{% block content %}
    <h1>You're viewing thread {{ id }}</h1>
    <p>The thread detail will eventually go here...</p>
{% endblock %}