<nav class="forum-nav">
    <ul class="nav-items">
        <li class="nav-item">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="/threads">Threads</a>
        </li>
        <li class="nav-item">
            <a href="/new-thread">
                <button class="nav-button">
                    New thread
                </button>
            </a>
        </li>
    </ul>
</nav>